/****** FONT  ******/

/****** COLOR  ******/

$white: #fff;
$black: #262626;
$blueviolet: #8a2be2;
$bg-green: #e4f3ec;
$bg-light-green: #b5e9cf;
$bg-grey:#767676;
$bg-grey-2: #ebebeb;
$bg-grey-3: #e0e0e0;
$bg-grey-4: #d5d5d5;
$bg-grey-5: #9f9b9b;

/****** ICON SIZE  ******/

$icon-x-sm: 10px;
$icon-sm: 14px;
$icon-large: 20px;
$icon-x-large: 24px;

/****** Z-INDEX  ******/

$zIndex-modal: 99;
$zIndex-overlay: 9;
